/**
 * Hero Content
 */

.hero-shape-0,
.hero-shape-1,
.hero-shape-2,
.hero-shape-3 {
	margin-top: -5.5rem;
	background-color: var(--color-mute);
	background-size: 900px;
	background-repeat: no-repeat;
	min-height: calc(400px + 5.5rem);
	background-position: 50% 40%;
}

.hero-shape-0 { background-image: url('/asset/img/shapes/shape-0.svg'); }
.hero-shape-1 { background-image: url('/asset/img/shapes/shape-1.svg'); }
.hero-shape-2 { background-image: url('/asset/img/shapes/shape-2.svg'); }
.hero-shape-3 { background-image: url('/asset/img/shapes/shape-3.svg'); }
