/**
 * Main Nav
 */

nav {
	position: relative;
	z-index: 2;
  padding: .5rem;
  font-size: 1.25rem;
}

nav .btn {
  color: var(--color-primary);
  transition: color 250ms ease;
  font-weight: 300;
}

nav .btn-bold {
	font-weight: 600;
}

nav .btn:hover {
  color: var(--color-secondary);
}


/**
 * Footer Nav
 */

footer nav .btn {
  color: var(--color-primary);
}
