/**
 * Table
 */

table.hover tr:hover td {
    background-color: rgb(240, 240, 240);
}
table.borders tr:not(:last-child) td,
table.borders tr th {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

table thead th {
	font-weight: 600;
}
